<h1>Bienvenido a la Plataforma, <%= @user.name %>!</h1>
<p>Tu cuenta ha sido creada con éxito. Puedes iniciar sesión usando tu dirección de correo electrónico y la contraseña proporcionada.</p>
<p><%= link_to 'Iniciar sesión', new_user_session_url %></p>
