<!-- app/views/home/index.html.erb -->
<div class="text-center mt-5">
  <%= image_tag "welcome_image.jpeg", alt: "Welcome Image", class: "img-fluid" %>
  <div class="mt-3">
    <%= link_to "Ingresar", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const button = document.querySelector(".btn-primary");
    button.addEventListener("mouseover", function() {
      this.classList.add("animate__animated", "animate__pulse");
    });
    button.addEventListener("mouseout", function() {
      this.classList.remove("animate__animated", "animate__pulse");
    });
  });
</script>
